name: Auto release Cutscene Maker

permissions:
  contents: write

on:
  push:
    paths-ignore:
      - '**/*.md'
    branches: [ main ]


jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 9 (For Abacus)
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0

      - name: Get Hack.io libraries
        run: git clone https://github.com/SuperHackio/Hack.io

      - name: Build Libraries
        run: |
          dotnet build Abacus/Abacus.csproj

      - name: Setup .NET 10 (For CutsceneMaker)
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0
      
      - name: Publish
        run: |
          dotnet publish CutsceneMaker/CutsceneMaker.csproj -c Release -r win-x64 /p:PublishSingleFile=true --self-contained true -o "${{ github.workspace }}\CutsceneMaker-win-x64"
          dotnet publish CutsceneMaker/CutsceneMaker.csproj -c Release -r linux-x64 /p:PublishSingleFile=true --self-contained true -o "${{ github.workspace }}\CutsceneMaker-linux-x64"
          dotnet publish CutsceneMaker/CutsceneMaker.csproj -c Release -r osx-x64 /p:PublishSingleFile=true --self-contained true -o "${{ github.workspace }}\CutsceneMaker-osx-x64"
      - name: Compress
        shell: pwsh
        run: |
          Compress-Archive -Path "${{ github.workspace }}\CutsceneMaker-win-x64" -DestinationPath CutsceneMaker-win-x64.zip
          Compress-Archive -Path "${{ github.workspace }}\CutsceneMaker-linux-x64" -DestinationPath CutsceneMaker-linux-x64.zip
          Compress-Archive -Path "${{ github.workspace }}\CutsceneMaker-osx-x64" -DestinationPath CutsceneMaker-osx-x64.zip

      - name: Create release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: auto
          title: "Auto"
          prerelease: true
          files: |
              *.zip
